.rsu {
    background-color: slategrey;
    position: absolute;
}

.simulationDiv {
    border-radius: 1px;
    border-style: groove;
    width: 1200px;
    height: 700px;
    margin-left: 20%;
}

.titleDiv {
    width: 90%;
    margin: auto;
    text-align: center;
}

h1 {
    align-self: center;
}

.overlay {
    width: 30px;
    text-align: center;
    background-color: wheat;
    border-radius: 10px;
    font-size: 7px;
    height: 20px;
    opacity: 0;
    transition: opacity .2s ease-out;
}
  