.grid-container {
  grid-template-areas: 
  'b c';
  border-color: red;
  display: grid;
}

.grid-item1 {
  grid-area: 'b';
}

.grid-item2 {
  grid-area: 'c';
}

.row::after {
  content: "";
  display: inline-table;
  clear: both;
}

.mapColumn {
  float: right;
  width: 65%;
  height: 100vh;
}

table {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  display: none;
}

th, td {
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding: 10px;
  text-align: center;
}

.column100.column2 {
  width: 60px;
}

.column100.column3 {
  width: 265px;
  padding: 32px;
}

.column100.column4 {
  font-size: 8px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

.table100 {
  float:left;
  width: 35%;
}

.table100.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #6c7ae0;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}

.table100.ver1 .row100 td:hover {
  background-color: #6c7ae0;
  color: #fff;
}

.table100.ver1 .row100 {
  height: 50px;
}

.startBtn {
  margin-top: 20vh;
  width: 30%;
  height: 10vh;
}

.rowMsg {
  padding-top: 2px;
  padding-bottom: 2px;
}

.columnMsg {
  width: 1px;
  padding-left: 2px;
}