.grid-container {
  grid-template-areas: 
  'b c';
  border-color: red;
  display: grid;
}

.grid-item1 {
  grid-area: 'b';
}

.grid-item2 {
  grid-area: 'c';
}

.row::after {
  content: "";
  display: inline-table;
  clear: both;
}

.statusColumn {
  float: left;
  width: 30%;
}

.mapColumn {
  float: right;
  width: 65%;
  height: 100vh;
}
  